 .u-section-1 {
  background-image: url("images/cropped.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 1236px;
}

.u-section-1 .u-custom-html-1 {
  min-height: 87px;
  margin: 0 -188px 0 929px;
}

.u-section-1 .u-image-1 {
  width: 304px;
  height: 304px;
  transition-duration: 0.5s;
  margin: 101px auto 0 -11px;
}

.u-section-1 .u-social-icons-1 {
  height: 43px;
  min-height: 16px;
  width: 149px;
  min-width: 68px;
  margin: -79px auto 0 0;
}

.u-section-1 .u-custom-html-2 {
  min-height: 83px;
  margin: 698px -145px 0 1203px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1113px;
  }

  .u-section-1 .u-custom-html-1 {
    height: auto;
    margin-right: -87px;
    margin-left: 646px;
  }

  .u-section-1 .u-image-1 {
    margin-left: 0;
  }

  .u-section-1 .u-social-icons-1 {
    margin-left: 13px;
  }

  .u-section-1 .u-custom-html-2 {
    height: auto;
    width: 940px;
    margin-left: 100px;
    margin-right: 100px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1296px;
  }

  .u-section-1 .u-custom-html-1 {
    margin-right: -88px;
    margin-left: 427px;
  }

  .u-section-1 .u-social-icons-1 {
    margin-left: 0;
  }

  .u-section-1 .u-custom-html-2 {
    width: 720px;
    margin-left: 210px;
    margin-right: 210px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1113px;
  }

  .u-section-1 .u-custom-html-1 {
    margin-right: -125px;
    margin-left: 284px;
  }

  .u-section-1 .u-image-1 {
    margin-right: 236px;
    margin-left: auto;
  }

  .u-section-1 .u-custom-html-2 {
    width: 540px;
    margin-left: 300px;
    margin-right: 300px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1238px;
  }

  .u-section-1 .u-custom-html-1 {
    margin-top: 1142px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-image-1 {
    margin-top: -1041px;
    margin-right: 36px;
  }

  .u-section-1 .u-custom-html-2 {
    width: 340px;
    margin-left: 400px;
    margin-right: 400px;
  }
}

.u-section-1 .u-image-1,
.u-section-1 .u-image-1:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-1 .u-image-1.u-image-1.u-image-1:hover {
  box-shadow: undefined undefined undefined rgba(var(--undefined-r),var(--undefined-g),var(--undefined-b),0) !important;
}

.u-section-1 .u-image-1.u-image-1.u-image-1.hover {
  box-shadow: undefined undefined undefined rgba(var(--undefined-r),var(--undefined-g),var(--undefined-b),0) !important;
}
