.u-section-1 .u-sheet-1 {
  min-height: 798px;
}

.u-section-1 .u-text-1 {
  font-size: 6rem;
  background-image: none;
  margin: 241px auto 0;
}

.u-section-1 .u-social-icons-1 {
  height: 75px;
  min-height: 16px;
  width: 244px;
  min-width: 68px;
  margin: 13px auto 0;
}

.u-section-1 .u-custom-html-1 {
  margin-bottom: 50px;
  margin-top: 201px;
  height: auto;
  min-height: 66px;
}

.u-section-1 .embed-responsive-1 {
  height: 178%;
  width: 178%;
  left: -39%;
  top: -39%;
}

@media (max-width: 991px) {
  .u-section-1 .embed-responsive-1 {
    height: 100%;
    width: 197%;
    left: -49%;
    top: 0%;
  }
}

@media (max-width: 767px) {
  .u-section-1 .embed-responsive-1 {
    width: 263%;
    left: -81%;
  }
}

@media (max-width: 575px) {
  .u-section-1 .embed-responsive-1 {
    width: 417%;
    left: -159%;
  }
}