 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 1085px;
}

.u-section-1 .u-text-1 {
  font-family: StretchProBasicDemo;
  background-image: none;
  font-size: 4.6875rem;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 307px auto 0;
}

.u-section-1 .u-social-icons-1 {
  height: 66px;
  min-height: 16px;
  width: 66px;
  min-width: 16px;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  box-shadow: 2px 0 0 0 rgba(0,0,0,0);
  margin: 14px auto 60px;
}

.u-section-1 .u-icon-1 {
  height: 54px;
}

@media (max-width: 1399px) {
  .u-section-1 .u-text-1 {
    width: auto;
  }

  .u-section-1 .u-social-icons-1 {
    transition-duration: 0.5s;
  }
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 827px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-social-icons-1 {
    margin-top: 9px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    margin-top: 289px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    font-size: 3rem;
    margin-top: 347px;
  }
}@font-face {
  font-family: 'StretchProBasicDemo';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/StretchProBasicDemo.otf);
}