@import url(https://fonts.googleapis.com/css?family=Poppins:400,600);
a,
abbr,
acronym,
address,
applet,
article,
aside,
audio,
b,
big,
blockquote,
body,
canvas,
caption,
center,
cite,
code,
dd,
del,
details,
dfn,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
mark,
menu,
nav,
object,
ol,
output,
p,
pre,
q,
ruby,
s,
samp,
section,
small,
span,
strike,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
tt,
u,
ul,
var,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block
}

body {
    line-height: 1
}

ol,
ul {
    list-style: none
}

blockquote,
q {
    quotes: none
}

blockquote:after,
blockquote:before,
q:after,
q:before {
    content: "";
    content: none
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

a {
    text-decoration: none;
    color: inherit
}

button {
    border: 0;
    background-color: transparent;
    outline: none;
    -webkit-appearance: none;
    font-size: 1rem;
    padding: 0;
    cursor: pointer
}

:root {
    --base-font-size: 20px;
    --main-width: 900px;
    --aside-width: 210px;
    --layout-width: calc(var(--main-width) + var(--aside-width) + var(--space)*3);
    --thin-main-width: 400px;
    --top-margin-width: 80px;
    --padding-width: 3.5rem;
    --space: 1rem;
    --article-font-size: 0.9em;
    --article-line-height: 1.75;
    --radius: 0.75em;
    --duration: 0.3s;
    --bg-color: #f6f9fd;
    --bg-content-color: #fff;
    --bg-code: #282c34;
    --border-color: rgba(0, 0, 0, 0.1);
    --title-color: #24292e;
    --body-color: #34393e;
    --link-color: #f22;
    --link-shadow-color: rgba(255, 34, 34, 0.2);
    --light-color: #a4a9ae
}

:root[data-scheme=dark] {
    --bg-color: #000;
    --bg-content-color: #101216;
    --bg-code: rgba(0, 0, 0, 0.3);
    --border-color: hsla(0, 0%, 100%, 0.1);
    --title-color: #c9d1d9;
    --body-color: #a9b1b9;
    --link-color: #00f;
    --link-shadow-color: #00f;
    --light-color: #596169
}

@media screen and (max-width:1023px) {
    :root {
        --base-font-size: 16px;
        --aside-width: 170px
    }
}

@media screen and (max-width:639px) {
    :root {
        --padding-width: 1.5rem;
        --top-margin-width: 60px
    }
}

* {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

body {
    color: var(--body-color);
    background-color: var(--bg-color);
    font-family: -apple-system, system-ui, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.5;
    transition: background-color calc(var(--duration)*2)
}

a:not(.button) {
    transition: color var(--duration), background-color var(--duration), opacity var(--duration), text-shadow calc(var(--duration)*2)
}

a:not(.button):hover {
    color: var(--link-color);
    text-shadow: 0 0 .2em var(--link-shadow-color)
}

.link-highlight a:not(.button) {
    text-decoration: underline;
    opacity: .8
}

.link-highlight a:not(.button):hover {
    opacity: 1
}

img {
    max-width: 100%
}

.button {
    display: inline-block
}

::-moz-selection {
    background: var(--light-color);
    color: var(--bg-color)
}

::selection {
    background: var(--light-color);
    color: var(--bg-color)
}

html {
    font-size: var(--base-font-size)
}

body {
    font-family: Poppins, Myriad Pro, -apple-system, BlinkMacSystemFont, PingFang SC, Microsoft YaHei, Arial, sans-serif;
    font-weight: 400
}

details,
p {
    line-height: var(--article-line-height);
    margin-bottom: 1em
}

summary {
    cursor: pointer;
    opacity: .8;
    transition: color var(--duration), opacity var(--duration), text-shadow calc(var(--duration)*2)
}

summary:hover {
    color: var(--link-color);
    text-shadow: 0 0 .2em var(--link-shadow-color)
}

h1,
h2,
h3,
h4,
h5 {
    color: var(--title-color);
    margin: 2.75rem 0 1rem;
    font-weight: 600;
    line-height: 1.15
}

h1 {
    font-size: 1.802em;
    margin-top: 0
}

h2 {
    font-size: 1.602em
}

h3 {
    font-size: 1.424em
}

h4 {
    font-size: 1.266em
}

h5 {
    font-size: 1.125em
}

small {
    font-size: .889em
}

strong {
    font-weight: 600
}

blockquote {
    border-left: 4px solid var(--border-color);
    padding-left: calc(var(--padding-width)/2);
    color: var(--title-color)
}

hr {
    width: 10%;
    height: 2px;
    margin: var(--padding-width) auto;
    background: var(--light-color);
    opacity: .5;
    border: none;
    border-radius: 1px
}

em {
    font-style: italic
}

ul {
    list-style-type: disc;
    margin-left: 1.25em;
    margin-bottom: 1.25em
}

ul li {
    margin-bottom: .6em
}

ol {
    list-style-type: decimal;
    margin-left: 1.25em;
    margin-bottom: 1.25em
}

ol li {
    margin-bottom: .6em
}

@media screen and (min-width:1280px) {
    body {
        margin-left: calc(100vw - 100%)
    }
}

body code[class*=language-],
body pre[class*=language-] {
    font-size: .85em;
    transition: background-color var(--duration)
}

body pre[class*=language-] {
    padding: calc(var(--padding-width)/3) calc(var(--padding-width)/2);
    background-color: var(--bg-code);
    margin-bottom: 2em;
    border-radius: var(--radius)
}

body :not(pre)>code[class*=language-] {
    color: var(--title-color);
    padding: .1em .3em;
    background-color: var(--bg-color);
    border-radius: .3em
}

@media print {
    body code[class*=language-],
    body pre[class*=language-] {
        text-shadow: none
    }
}

code[class*=language-],
pre[class*=language-] {
    color: #ccc;
    background: none;
    font-family: Consolas, Monaco, Andale Mono, Ubuntu Mono, monospace;
    font-size: 1em;
    text-align: left;
    white-space: pre;
    word-spacing: normal;
    word-break: normal;
    word-wrap: normal;
    line-height: 1.5;
    -moz-tab-size: 4;
    -o-tab-size: 4;
    tab-size: 4;
    -webkit-hyphens: none;
    -ms-hyphens: none;
    hyphens: none
}

pre[class*=language-] {
    padding: 1em;
    margin: .5em 0;
    overflow: auto
}

:not(pre)>code[class*=language-],
pre[class*=language-] {
    background: #2d2d2d
}

:not(pre)>code[class*=language-] {
    padding: .1em;
    border-radius: .3em;
    white-space: normal
}

.token.block-comment,
.token.cdata,
.token.comment,
.token.doctype,
.token.prolog {
    color: #999
}

.token.punctuation {
    color: #ccc
}

.token.attr-name,
.token.deleted,
.token.namespace,
.token.tag {
    color: #e2777a
}

.token.function-name {
    color: #6196cc
}

.token.boolean,
.token.function,
.token.number {
    color: #f08d49
}

.token.class-name,
.token.constant,
.token.property,
.token.symbol {
    color: #f8c555
}

.token.atrule,
.token.builtin,
.token.important,
.token.keyword,
.token.selector {
    color: #cc99cd
}

.token.attr-value,
.token.char,
.token.regex,
.token.string,
.token.variable {
    color: #7ec699
}

.token.entity,
.token.operator,
.token.url {
    color: #67cdcc
}

.token.bold,
.token.important {
    font-weight: 700
}

.token.italic {
    font-style: italic
}

.token.entity {
    cursor: help
}

.token.inserted {
    color: green
}

.content-box {
    background-color: var(--bg-content-color);
    margin: 0 auto;
    padding: var(--padding-width);
    border-radius: var(--radius);
    transition: transform var(--duration), background-color var(--duration), box-shadow var(--duration)
}

.post__title {
    width: 100%;
    padding: calc(var(--padding-width)/2) 0;
    text-align: center
}

.post__header {
    width: calc(100% + var(--padding-width)*2);
    margin-left: calc(var(--padding-width)*-1);
    margin-top: calc(var(--padding-width)*-1);
    margin-bottom: calc(var(--padding-width)/2);
    border-radius: var(--radius) var(--radius) 0 0;
    overflow: hidden;
    display: flex
}

.post__header img {
    width: var(--thin-main-width);
    flex: 1
}

.post__header:empty {
    display: none
}

.post__content {
    font-size: var(--article-font-size);
    margin-bottom: calc(var(--padding-width)/2)
}

.post__content h1:first-child {
    display: none
}

.post__content br+h1,
.post__content br+h2,
.post__content br+h3,
.post__content br+h4,
.post__content br+h5,
.post__content h1+h2,
.post__content h1:first-child,
.post__content h2+h3,
.post__content h2:first-child,
.post__content h3+h4,
.post__content h3:first-child,
.post__content h4+h5,
.post__content h4:first-child,
.post__content h5+h6,
.post__content h5:first-child {
    margin-top: 0
}

.post__content img {
    display: block;
    margin-left: calc(var(--padding-width)*-1);
    margin-right: calc(var(--padding-width)*-1);
    width: calc(100% + var(--padding-width)*2);
    max-width: none
}

.post__content img[alt*="size=auto"],
.post__content img[alt*="size=large"],
.post__content img[alt*="size=medium"],
.post__content img[alt*="size=small"] {
    margin-left: auto;
    margin-right: auto;
    width: auto
}

.post__content img[alt*="size=small"] {
    max-width: 50%
}

.post__content img[alt*="size=medium"] {
    max-width: calc(61.8% + var(--padding-width)*2*0.618)
}

.post__content img[alt*="size=auto"],
.post__content img[alt*="size=large"] {
    max-width: 100%
}

.post__content br:last-child {
    display: none
}

.text-center {
    text-align: center
}

.site-info__avatar {
    border-radius: 100%;
    max-width: 8em;
    margin-bottom: .75em
}

.site-info__name {
    font-size: 1.5em;
    margin-bottom: .5em
}

.site-info__id {
    font-size: .75em
}

.site-info__bio {
    color: var(--body-color);
    margin-bottom: 0
}

.nav {
    overflow-x: hidden;
    overflow-y: auto;
    height: 100%;
    width: 100%;
    margin-bottom: var(--space)
}

.nav ul {
    list-style: none;
    margin: 0;
    display: flex;
    flex-direction: column
}

.nav ul li {
    margin: 0 0 1em
}

.nav__item {
    padding: .5em .5em .5em 0;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    display: flex;
    align-items: center;
    color: var(--light-color)
}

.nav__item .icon {
    width: 1em;
    height: 1em;
    margin-right: 1em
}

.nav__item.active--exact {
    color: var(--body-color)
}

@media screen and (max-width:767px) {
    .nav ul {
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap
    }
    .nav ul li {
        margin: 0
    }
    .nav__item {
        padding: 1em
    }
    .nav__item .icon {
        display: none
    }
}

.aside {
    width: var(--aside-width);
    flex: none;
    max-height: 100vh;
    padding: var(--top-margin-width) var(--space);
    margin-right: var(--space);
    color: var(--title-color);
    display: flex;
    flex-direction: column
}

.aside__header {
    margin-bottom: var(--space)
}

.aside__footer .button {
    width: 1.5em;
    height: 1.5em;
    color: var(--body-color);
    transition: opacity var(--duration), transform var(--duration)
}

.aside__footer .button:hover {
    opacity: .8
}

.aside__footer .button:active {
    transform: scale(.667)
}

.aside__footer .button:not(:last-child) {
    margin-right: .75em
}

@media screen and (max-width:767px) {
    .aside {
        position: static;
        width: 100%;
        height: auto;
        max-height: none;
        margin: 0;
        align-items: center;
        text-align: center
    }
}

.footer {
    display: flex;
    flex-direction: column;
    margin: var(--padding-width) 0;
    line-height: 2;
    color: var(--light-color)
}

@media screen and (max-width:767px) {
    .footer {
        justify-content: center;
        text-align: center
    }
}

.footer__beian,
.footer__copyright {
    font-size: .6em
}

.layout__default {
    box-sizing: content-box;
    margin: 0 auto;
    display: flex;
    padding: 0 var(--padding-width);
    position: relative;
    max-width: var(--layout-width)
}

.layout__default .aside {
    position: sticky;
    top: 0
}

.layout__default .main {
    margin: 0;
    padding: var(--top-margin-width) var(--space) 0;
    flex: 1
}

@media screen and (max-width:767px) {
    .layout__default {
        flex-direction: column
    }
    .layout__default .main {
        z-index: 1;
        width: 100%;
        max-width: none;
        background-color: var(--bg-color);
        box-shadow: 0 0 20px -4px var(--bg-color);
        transition: background-color calc(var(--duration)*2), box-shadow calc(var(--duration)*2);
        padding: 0
    }
}

.layout__post {
    box-sizing: content-box;
    margin: 0 auto;
    display: flex;
    padding: 0 var(--padding-width);
    position: relative;
    max-width: var(--main-width);
    justify-content: center
}

.layout__post .main {
    margin: 0;
    max-width: 100%;
    padding: var(--top-margin-width) 0 0
}

.social {
    display: flex;
    align-items: center
}

.social__link {
    font-size: .9em
}

.social__link:not(:last-child) {
    margin-right: 1.5em
}

.social__link>svg {
    display: block
}

.social__icon {
    width: 1.6em;
    height: 1.6em
}

.home {
    overflow: hidden;
    background-color: #000;
    color: #fff;
    position: relative
}

.home,
.home .frame {
    width: 100%;
    height: 100vh
}

.home .frame {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    grid-template-rows: 1fr auto 1fr;
    justify-content: stretch;
    align-content: stretch;
    grid-template-areas: "lt ct rt" "lm cm rm" "lb cb rb";
    position: fixed;
    z-index: 10000;
    top: 0;
    left: 0;
    max-width: none;
    padding: 3rem;
    text-align: left
}

.home .frame__lt,
.home .frame__website {
    grid-area: lt;
    justify-self: start;
    align-self: start;
    text-align: start
}

.home .frame__lm,
.home .frame__nav {
    grid-area: lm;
    justify-self: start;
    align-self: center;
    text-align: start
}

.home .frame__intro,
.home .frame__lb {
    grid-area: lb;
    justify-self: start;
    align-self: end;
    text-align: start
}

.home .frame__ct {
    grid-area: ct;
    justify-self: center;
    align-self: start;
    text-align: center
}

.home .frame .impression-image,
.home .frame .logo,
.home .frame__cm {
    grid-area: cm;
    justify-self: center;
    align-self: center;
    text-align: center
}

.home .frame__cb {
    grid-area: cb;
    justify-self: center;
    align-self: end;
    text-align: center
}

.home .frame__rt,
.home .frame__social {
    grid-area: rt;
    justify-self: end;
    align-self: start;
    text-align: end
}

.home .frame__rm {
    grid-area: rm;
    justify-self: end;
    align-self: center;
    text-align: end
}

.home .frame__copyright,
.home .frame__rb {
    grid-area: rb;
    justify-self: end;
    align-self: end;
    text-align: end
}

.home .frame .logo {
    z-index: 10;
    font-size: 16vw;
    font-weight: 900;
    padding-bottom: .2em
}

.home .frame .impression-image {
    display: block;
    width: 40%;
    z-index: -10
}

.home .frame__nav {
    display: flex;
    flex-direction: column;
    font-size: 1.2em;
    line-height: 1.75
}

.home .frame__nav .link:before {
    content: "- "
}

.home .frame__intro {
    max-width: 12em
}

.home .frame__copyright {
    font-size: .7em;
    line-height: 1.75
}

@media screen and (max-width:1279px) {
    .home .frame__nav {
        flex-direction: row;
        justify-content: end;
        grid-area: rt;
        justify-self: end;
        align-self: start
    }
    .home .frame__nav .link:before {
        content: ""
    }
    .home .frame__nav .link:not(:last-child) {
        margin-right: 1.5em
    }
    .home .frame__social {
        display: none
    }
}

@media screen and (max-width:639px) {
    .home .frame__intro {
        max-width: 9em
    }
}

.post-meta {
    font-size: .8em;
    opacity: .8
}

.post-tags {
    display: flex;
    flex-wrap: wrap
}

.post-tags__link {
    margin-top: .3em;
    margin-bottom: .3em;
    margin-right: .7em;
    font-size: .8em;
    color: currentColor;
    text-decoration: none;
    background-color: var(--bg-color);
    padding: .5em .7em;
    border-radius: var(--radius)
}

.post-card {
    margin-bottom: calc(var(--padding-width)/2);
    position: relative
}

.post-card__cover {
    margin: calc(var(--padding-width)*-1) calc(var(--padding-width)*-1) calc(var(--padding-width)/2);
    overflow: hidden;
    border-radius: var(--radius) var(--radius) 0 0
}

.post-card__cover:empty {
    display: none
}

.post-card__image {
    min-width: 100%
}

.post-card__title {
    margin-top: 0
}

.post-card:hover {
    transform: translateY(-4px);
    box-shadow: 2px 8px 48px 4px rgba(0, 0, 0, .05)
}

.post-card__tags {
    margin: var(--space) 0 0;
    position: relative;
    z-index: 1
}

.post-card__tags:empty {
    display: none
}

.post-card__link {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    overflow: hidden;
    text-indent: -9999px;
    z-index: 0
}

.post-strip {
    padding: calc(var(--padding-width)*0.5);
    border-radius: 0
}

.post-strip:not(:last-child) {
    border-bottom: 1px dotted var(--border-color)
}

.post-strip__content {
    position: relative
}

.post-strip__title {
    margin-top: 0
}

.post-strip__link {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    overflow: hidden;
    text-indent: -9999px;
    z-index: 0
}

.navigation {
    background-color: var(--bg-content-color);
    display: flex;
    border-radius: var(--radius);
    overflow: hidden;
    flex-wrap: wrap
}

.navigation__link {
    padding: var(--space) calc(var(--space)*2)
}

.navigation__link.active {
    background-color: var(--border-color)
}

.navigation__link.active:hover {
    filter: none
}

.tag__header {
    padding: var(--padding-width);
    background-color: var(--bg-content-color);
    transition: background-color var(--duration);
    border-radius: var(--radius);
    margin-bottom: calc(var(--padding-width)/2);
    position: relative;
    overflow: hidden
}

.tag__title {
    margin: 0
}

.tag__title .hash {
    transition: color var(--duration), text-shadow var(--duration);
    color: var(--link-color);
    text-shadow: 0 0 .2em var(--link-shadow-color)
}

.tag__info {
    margin-top: 1em;
    font-size: .8em
}

.archive__title {
    font-size: .9em
}

.archive__tags {
    margin-bottom: calc(var(--padding-width)/2)
}

.archive__posts .post-group,
.archive__tags,
.archive__tags .tag-list {
    padding: calc(var(--padding-width)/2)
}

.archive__posts .post-group {
    margin-bottom: calc(var(--padding-width)/2)
}

.archive__posts .post-list {
    border-radius: var(--radius);
    overflow: hidden
}

.post__footer {
    margin-top: var(--padding-width)
}

.post__footer .footer-info {
    color: var(--light-color);
    font-size: .9em
}

.post-comments {
    margin: calc(var(--padding-width)) 0
}

.post-comments:empty {
    display: none
}

.single-page .post__title {
    padding: 0 0 3em;
    text-align: left
}

.single-page .post__title h1 {
    font-size: 2em;
    margin-bottom: 0
}

.single-page .post__content a {
    font-size: 100%;
    transition: color var(--duration);
    position: relative
}

.single-page .post__content a:before {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
    height: 2px;
    width: 61.8%;
    background-color: var(--link-color);
    transition: width var(--duration)
}

.single-page .post__content a:hover {
    color: var(--link-color)
}

.single-page .post__content a:hover:before {
    width: 100%
}